.banner{
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.banner-container{
  padding: 200px 0;
}
.banner-container h1{
  color: white;
  margin-bottom: 1em;
}

.banner-container p{
  color: white;
  margin-bottom: 2em;
}

.banner-container a{
  background-color: #FF08B5;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
  transition: all 300ms;
  font-weight: 500;
}

.banner-container a:hover{
  opacity: 40%;
}
